body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(31, 31, 31);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-logo-color {
  color: rgb(255, 255, 255);
} 

.custom-bg {
  background-color: #1f1f1f;
} 

.text-color {
  color: rgb(255, 102, 0);
}

.border-color {
  border-color: #25493F;
}

.custom-bg-text {
  color:rgb(31, 31, 31);
}

.bg-color {
  background-color: #ff6600;
}

.text-color-second {
  color:#1f1f1f;;
}

.rounded-card {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px #00000033;
}

.form-card {
  padding: .2em .2em .2em;
  border-radius: 1em;
  box-shadow: 0 10px 20px rgba(255, 102, 0, 0.4); /* Adjust the values here */
}

.car-card {
  transition: transform 0.2s ease-in-out;
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px #00000033;
  background-color:rgb(31, 31, 31) ;
  box-shadow: 0 10px 20px rgba(255, 102, 0, 0.1); /* Adjust the values here */
}

.car-card:hover {
  transform: scale(1.02); /* You can adjust the scale factor for the desired hover effect */
}

.profile-photo {
  width: 100px;
  height: auto;
  object-fit: cover;
  border: 3px solid #EB455F; /* Add a border with white color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
  border-radius: 50%; /* Ensure it stays circular */
}